<!DOCTYPE html>
<html>
<head>
    <title>Welcome to fapp1</title>
</head>
<body>
    <h2>Welcome to fapp1!</h2>
    <ul>
        <li><a href="/login">Login with Keycloak</a></li>
        <li><a href="/addnew">Redirect to Keycloak to add a new user (/addnew)</a></li>
        <li><a href="/register">Register a new user via API (/register)</a></li>
        <li><a href="/getproxies">Display Proxies (/getproxies)</a></li>
        <li><a href="/addproxy">Add a Proxy PHN (/addproxy)</a></li>
        <li><a href="/removeproxy">Remove a Proxy PHN (/removeproxy)</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</body>
</html>
